body{
    background-image: url(main_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: arial;
}

.shopwindow{
    margin: 5% 10% auto;
    background-color: #091323;
    padding: 20px;
    border-radius: 15px;
}

.shopwindow__left{
   display: inline-block;
   width: 60%;
}

.shopwindow__right{
   display: inline-block;
   width: 38%;
   padding-top: 40px;
   padding-bottom: 40px;
}

.shopwindow__img{
    display: block;
    margin-bottom: 40px;
}

.shopwindow__colors{
    width: 80px;
    margin: 70px auto 0;
}

.shopwindow__color{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #091323;
    background-color: #091323;
}
.shopwindow__color:hover{
    border: 2px solid white;
}

.shopwindow__color--gray{
    background-color: #1a2e3f;
}
.shopwindow__color--white{
    background-color: #fff;
}
.shopwindow__color--red{
    background-color: #f24141;
}
.shopwindow__color--green{
    background-color: #26f2f2;
}

.shopwindow__h1{
    color: #d8d8d8;
    margin: 0;
    font-weight: 100;
}

.shopwindow__p{
    color: #666;
}

.shopwindow_select{
    background-color: transparent;
    color: #d8d8d8;
    padding: 6px 10px;
    border: 1px solid #404754;
}

.shopwindow__button{
    background-color: rgba(216, 216, 216, 0.1);
    border: 1px solid #404754;
    color: #d8d8d8;
    padding: 10px 60px;
    margin-top: 30px;
}